*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
  position: relative;
} */

body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: grid;
  overflow: auto;
  height: 100%;
  min-height: 100vh;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: 100vw;
  background-color: #f0f0f0;
  height: 56px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.header__menu { 
  /* list-style: none; */
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  
  padding: 10px 20px;
  margin: 0;
}

.header__menu-item {
  padding: 0 10px;
}

.container {
 
  display: flex;
  flex-direction: column;
  padding: 20px 120px;
  /* margin-top: 2rem; */
  margin: 0 auto;
  width: 100%;
  min-height: calc(100vh - 64px);
}

.container-wide {
  max-width: 100vw;
  display: flex;
    flex-wrap: wrap;
    margin: 4rem auto 0;
    justify-content: center;
}

@keyframes appear {
  from {
      opacity: 0;
      scale: 0.8;
  }

  to {
      opacity: 1;
      scale: 1;
  }
}

.tile {
  background-color: #f0f0f0;
  border-radius: 8px;
  display: block;
  width: auto;
  min-width: 250px;
  width: auto;
  max-width: 350px;
  /* margin: 2rem; */
  animation: appear linear both;
  animation-timeline: view();
  animation-range: entry 0 cover 25%;
}

.tile__title {
  background-color: teal;
  color: white;
  padding: 20px 24px 20px 24px;
  margin: unset !important;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  justify-content: center;
}

.tile__desc {
  padding: 24px 24px 24px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  width: 100%;
  flex-shrink: 0;
}

.new-recipe__popover {
  z-index: 1000;
}

.new-recipe {
  /* display: none; */
}

.new-recipe:popover-open {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
  width: 50%;
  padding: 0 10px;
  border-radius: 10px;
  border-color: black;
}

.new-recipe::backdrop {
  background: url("https://mdn.github.io/dom-examples/popover-api/blur-background/tile.png");
  opacity: 60%;
}

.button {
  padding: 12px 24px;
}

.button__primary, .button__secondary:hover {
  background: url("https://mdn.github.io/dom-examples/popover-api/blur-background/tile.png");
  color: #f0f0f0;
  border: transparent solid 2px;
}

.button__primary:hover, .button__secondary {
  background: unset;
  background-color: #f0f0f0;
  color: teal;
  border: teal solid 2px;
}
