body {
    font-family: 'Arial', sans-serif;
    background: #f7f7f7;
    color: #333;
    padding: 20px;
    line-height: 1.6;
}

h1 {
    /* color: #006600; */
    color: maroon;
    font-family: 'Lexend', sans-serif;
}

h5 {
    font-family: 'Caveat', sans-serif;
    font-style: italic;
}

.recipe__container {
    display: grid;
    position: relative;
    width: 100vw;
    height: 100%;
    grid-template-areas: "image "
                        "title "
                        "description "
                        "servings "
                        "details "
                        ;
    
    /* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
}

.ingredients ul, .instructions ol, .tips ul {
    padding-left: 20px;
}

.instructions {
    grid-area: instructions;
    grid-column-start: 1;
}

.recipe__image {
    grid-area: image;
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: border-box;
    width: 100%;
    height: 275px;
    grid-column-start: 1;
}

.ingredients {
    grid-area: ingredients;
    grid-column-start: 1;
}

.servings {
    grid-area: servings;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-column-start: 1;
}

.recipe__title {
    grid-area: title;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0 0;
    font-size: 48px;
    font-weight: 800;
}

.recipe__description {
    grid-area: description;
    grid-column-start: 1;
    padding: 0 0 12px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    border-bottom: 1px black solid;
}

.tips {
    grid-area: tips;
}

.recipe__details {
    grid-area: details;
    columns: 2;
}


.ingredients li, .instructions li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding-top: 20px;
}